.counter-container{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);

	border-radius: 9999px;
	border: none;

	background-color: black;
	color: white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	z-index: 3;
}

.counter *:not(:last-child) {
	margin-right: 5px;
}

.counter button {
	width: 40px;
	height: 40px;

	color: white;
	background-color: transparent;
	transition: 0.5s;
	border: none;
	border-radius: 9999px;
	font-family: 'Montserrat', sans-serif;
}

.counter button:active {
	color: black;
	background-color: white;
	transition: 0s;
}

.counter button:disabled,
.counter button[disabled]{
	color: gray;
}