html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#camera, #camera-view, #buffer, #tool-display {
	position: fixed;
	height: 100%;
	width: 100%;
	object-fit: contain;
}

#camera-error {
	margin: auto;
	font-family: 'Montserrat', sans-serif;
}

#camera-trigger {
	position: fixed;
	height: 60px;
	max-width: 50%;
	left: 50%;
	bottom: 30px;
	transform: translate(-50%, 0);

	border-radius: 9999px;
	border: none;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

	background-color: black;
	color: white;
	font-size: 16px;
	text-align: center;
	padding: 15px 20px;
	font-family: 'Montserrat', sans-serif;
}